{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}

<section id="about" class="py-5">
  <div class="p-5 text-center" style="background-color: lightgray; border-radius: 0.3rem;">
    <img src="https://i.pinimg.com/736x/01/70/23/01702317af012ce5b16d1a0a5ee0d686.jpg" width="500" height="250" style="margin-bottom: 10px;">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="1" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Салон красоты "Стелла"</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Салон красоты "Стелла" — это оазис стиля и уюта, где каждая деталь создана для вашего комфорта. Мы предлагаем широкий спектр услуг: от окраски волос до маникюра и педикюра. Наша команда профессионалов использует только качественные продукты, чтобы подчеркнуть вашу индивидуальность и красоту. В "Стелле" вы почувствуете заботу и внимание, ведь ваша удовлетворенность — наша главная цель!
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <svg class="bi ms-2" width="0" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
    </div>
</div>

</section>


{% endblock %}