{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}

<section id="about" class="py-5">
  <div class="p-5 text-center" style="background-color: lightgray; border-radius: 0.3rem;">
    <img src="https://aif-s3.aif.ru/images/015/361/4367de77152675bbf095914cc80f3982.png" width="500" height="250" style="margin-bottom: 10px;">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="1" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Haircut by ZHORA</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Добро пожаловать в Haircut by ZHORA — место, где стиль и качество встречаются! Мы предлагаем широкий спектр услуг по стрижке и укладке, чтобы каждый клиент мог найти именно то, что ему нужно.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <svg class="bi ms-2" width="0" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
    </div>
</div>

</section>


{% endblock %}