{% extends 'base.html' %}

{% block title %}
Заказ авто
{% endblock %}

{% block body %}
<h1>Заказ авто</h1>

<form method="post" class="form-control">
    <input type ="text" name="title" placeholder="Введите ФИО" class="form-control"><br>
    <input type ="text" name="text" placeholder="Введите номер телефона или почту для связи" class="form-control"><br>
    <input type ="text" name="auto" placeholder="Введите желаемую стрижку" class="form-control"><br>
    <button class="btn btn-success" type="submit">Добавить</button>
    <div class="predupr">
    </div>

</form>

{% endblock %}
