{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main>
    <h1>Наши процедуры</h1>
    <div class="container marketing">
         <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://www.gamaprofessional.ru/images/%D0%B1%D0%B0%D0%BB%D0%B0%D1%8F%D0%B6.jpeg" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Окраска волос</h2>
                    </p><p>Цена стрижки:
                        <p>- 2000 руб.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSdjq0a3VN2QnSFYyc8u2RE96fGUirTAOK9Q&s" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Маникюр</h2>
                    </p><p>Цена стрижки:
                    <p>- 3000 руб.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://www.premium-spb.ru/upload/iblock/cb4/wwcj2wl4hzhdw2tt3ef8zvz2waiyuyzp/vidy_pedikyura_1.jpg" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Педикюр</h2>
                    </p><p>Цена стрижки:
                    <p>- 3000 руб.   
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}