{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main>
    <h1>Популярные стрижки</h1>
    <div class="container marketing">
         <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://sun9-16.userapi.com/impf/c857324/v857324988/52961/Jcr4TLvLKoc.jpg?size=419x604&quality=96&sign=96f220afa5eed15926a2a5f52b00e200&type=album" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Штрих-код</h2>
                    <p>Вашей маме точно понравится.</p><p>Цена стрижки:
                        <p>- 606 руб.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://sun1-84.userapi.com/impg/aryFEKfvq99kIFWPTzR8-Rux0X7OM3KhbYeYxA/zLDBxkvLGxk.jpg?size=484x604&quality=95&sign=61085120de9d5a90550076debf6db1ee&type=album" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Ловелас</h2>
                    <p>С такой стрижкой только на дискотеку.</p><p>Цена стрижки:
                    <p>- 909 руб.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://news.store.rambler.ru/img/84aec086d854196cfd9991382f1e496b?img-format=auto&img-1-resize=height:400,fit:max&img-2-filter=sharpen" width="300" height="200" style="margin-bottom: 15px;">
                    <h2 class="fw-normal">Каре</h2>
                    <p>С такой стрижкой банк точно ваш.</p><p>Цена стрижки:
                    <p>- 1111 руб.   
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Другие стрижки</h2>
</div>

<!--Card menu-->

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://thumbs.dfs.ivi.ru/storage9/contents/4/6/73d32a18fc5a27b6393f987eedfd63.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Глобус</h3>
                                    <p>Цена стрижки:
                                    <p>- 2000 руб.
                                    <p>Высокая цена потому что используется опасное бритье.
                </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/736x/a4/d6/ae/a4d6aebc68f4aeb3f28ee17dd80a2664.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>9 сверху 3 по бокам</h3>
                    <p>Цена фото:
                    <p>-4500 руб.
                    <p>С такой прической считайте себя нормисом.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </p></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://i.pinimg.com/originals/65/c1/29/65c129ceb96f8c6a804d43b0e64a22d8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><h3>Эмо</h3>
                    <p>Цена стрижки:
                    <p>-3000 руб.
                    <p>В цену входит покраска.
                    <p><a class="btn btn-secondary" href="client">Записаться »</a></p>
                </p></p>
                </div>
            </div>
        </div>

</main>

{% endblock %}