{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
<h2>Контакты</h2>

  <div class="container">
    <div class="contact-group">
      <div class="contact-item">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary">
            <h4 class="my-0 fw-normal">Телефон:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">+78005553535</h1>
          </div>
        </div>
      </div>
      <div class="contact-item">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary">
            <h4 class="my-0 fw-normal">Почта:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">HaircutbyZHORA@gmail.com</h1>
          </div>
        </div>
      </div>
      <div class="contact-item">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary">
            <h4 class="my-0 fw-normal">Адрес:</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">г. Калининград, ул. Артиллерийская, дом 18</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-msg">
      <div class="contact a">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
             <div class="contact-msg-group">
                <div class="contact-msg">
                    <div class="msg">
                        <a href="https://t.me/jcjfnnfnfkfk" target="_blank" rel="noopener noreferrer">
                        <img src="https://avatars.mds.yandex.net/i?id=63248ba17998fb473dfbaa87bb68d7cfba38c6d2-4377975-images-thumbs&n=13" alt="Telegram" class="icon">
                        Telegram
                        </a>
                    </div>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock %}